{% extends 'base_list.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block title %}{% translate 'Tasks' %}{% endblock %}

{% block create_button %}
<a class="btn btn-custom btn-margin" href="{% url 'tasks:create' %}">{% translate 'Create a task' %}</a>
{% endblock %}

{% block filters %}
<div class="card mb-3">
  <div class="card-body bg-dark">
    <form role="form" method="get">
      {% bootstrap_form filter.form %}
      {% translate 'Show' as buttons_text %}
      {% bootstrap_button buttons_text button_type="submit" button_class="btn-primary" %}
    </form>
  </div>
</div>
{% endblock %}

{% block table %}
<thead>
  <tr>
    <th>ID</th>
    <th>{% translate 'Name' %}</th>
    <th>{% translate 'Status' %}</th>
    <th>{% translate 'Author' %}</th>
    <th>{% translate 'Executor' %}</th>
    <th>{% translate 'Created at' %}</th>
    <th>{% translate 'Actions' %}</th>
  </tr>
</thead>
<tbody>
  {% for task in tasks %}
  <tr>
    <td>{{ task.id }}</td>
    <td><a class="a-custom" href="{% url 'tasks:detail' pk=task.id %}">{{ task.name }}</a></td>
    <td>{{ task.status }}</td>
    <td>{{ task.author|default:"" }}</td>
    <td>{{ task.executor|default:"" }}</td>
    <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
    <td>
      <a class="btn btn-custom" href="{% url 'tasks:update' pk=task.id %}">{% translate 'Edit' %}</a>
      <a class="btn btn-custom" href="{% url 'tasks:delete' pk=task.id %}">{% translate 'Delete' %}</a>
    </td>
    {% endfor %}
</tbody>
{% endblock %}