{% extends 'base_list.html' %}
{% load i18n %}


{% block title %}{% translate 'Users' %}{% endblock %}

{% block table %}
<thead>
  <tr>
    <th>ID</th>
    <th>{% translate 'Username' %}</th>
    <th>{% translate 'Full name' %}</th>
    <th>{% translate 'Created at' %}</th>
    <th>{% translate 'Actions' %}</th>
  </tr>
</thead>
<tbody>
  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.first_name }} {{ user.last_name }}</td>
    <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
    <td>
      <a class="btn btn-custom" href="{% url 'users:update' pk=user.id %}">{% translate 'Edit' %}</a>
      <a class="btn btn-custom" href="{% url 'users:delete' pk=user.id %}">{% translate 'Delete' %}</a>
    </td>
    {% endfor %}
</tbody>
{% endblock %}
