{% load bootstrap4 %}
{% load i18n %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">{% translate 'Менджер задач' %}</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">{% translate 'Вход' %}</a>
        <a class="nav-link" href="#">{% translate 'Регистрация' %}</a>
        <a class="nav-link btn btn-lg btn-secondary" href="#">{% translate 'Пользователи' %}</a>
      </nav>
    </div>
  </header>
</body>
